@import url('/assets/css/header/header.css');
@import url('/assets/css/main/main.css');
@import url('/assets/css/footer/footer.css');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  min-height: 100vh;
  background: url('https://png.pngtree.com/thumb_back/fw800/background/20230521/pngtree-tropical-beach-with-palm-trees-and-clear-blue-water-image_2682990.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/* MAIN */

main {
  margin-top: 90px;
}

.section {
  margin-bottom: 20px; /* Espacio entre cada sección */
  padding: 20px; /* Espacio interno dentro de cada sección */
  background-color: #f2f2f2; /* Color de fondo de las secciones */
  border-radius: 10px; /* Borde redondeado para las secciones */
}

/* Estilos para las secciones en dispositivos móviles */
@media screen and (max-width: 600px) {
  .section {
      padding: 10px; /* Reduce el espacio interno en dispositivos móviles */
    }
}

/* PAGINA PRINCIPAL */















/* PAGINA DE CONTACTO*/

.contact {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f26b;
} 

.contact h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.contact p {
  font-size: 14px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.contact form {
  width: 600px;
  text-align: center;
}

form .input-box{
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}


form .contact {
  display: flex;
  justify-content: space-between;
} 

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: black; /*  Color del borde de los input*/
  margin: 12px 0;
}

.field .item::placeholder {
  color: rgb(8, 8, 8,);
}

.field .error-txt {
  font-size: 14.5px;
  color: red;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}


form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-txt{
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background: white;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: .5s;
}

form button:hover{
  box-shadow: none ;
}